@use '../../styles/media-query' as media;

.active-header {
  font-weight: 500;
  font-size: 24px;
}

@include media.desktop-up {
  .active-header {
    font-size: 20px;
  }
}

@include media.tablet-landscape-up {
  .active-header {
    font-size: 16px;
  }
}

@include media.mobile-only {
  .active-header {
    font-size: 12px;
  }
}
