<header>
  <div class="example-form">
    <img ngSrc="assets/icons/find-icon.svg" alt="find-icon" height="22" width="22">
    <input (input)="search()" [(ngModel)]="tableService.filter.text" class="input-header"
           placeholder="Поиск пользователя">
  </div>

  <div class="header-buttons">
    <button (click)="openDialog()" class="add-button" mat-raised-button>
      Добавить
    </button>
    <button mat-mini-fab class="refresh-icon">
      <mat-icon (click)="refreshTable()"> refresh icon</mat-icon>
    </button>
  </div>
</header>

<div class="user-table">

  <div class="loading" *ngIf="loading | async">
    <mat-spinner></mat-spinner>
  </div>
  <app-user-table
    appScrollPagination
    (scroll)="tableService.uploading()"
    (rowDeleted)="deleteUser($event)"
    *ngIf="tableService.dataSubject | async as dataUsers"
    [dataUsers]="dataUsers">
  </app-user-table>
</div>
