<header>
  <div class="example-form">
    <img ngSrc="assets/icons/find-icon.svg" alt="find-icon" height="22" width="22">
    <input (input)="search(searchValue)" [(ngModel)]="searchValue" class="search-users" placeholder="Поиск пользователя">
  </div>

  <div class="header-buttons">
    <button (click)="openDialog()" class="add-button" mat-raised-button>
      Добавить
    </button>
    <button mat-mini-fab class="refresh-icon">
      <mat-icon (click)="refreshTable()"> refresh icon</mat-icon>
    </button>
  </div>
</header>

<div class="user-table">
  <app-user-table (rowDeleted)="this.deleteUser($event)" *ngIf="dataUsers | async as data"
                  [dataUsers]="data"></app-user-table>
</div>

<!--todo Передавать функцию в next?-->
