:host {
  display: flex;
  height: 100%;
}

.default-content {
  background: #F4F4F4;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.content {
  background: white;
  height: 100%;
  margin: 20px;
  border-radius: 20px;
}

.content::-webkit-scrollbar {
  width: 7px;
  background-color: #272728;
}

.content::-webkit-scrollbar-track {
  width: 7px;
  background-color: #2e2e70;
}

