<app-dialog>
  <span ngProjectAs="title">Добавить пользователя</span>

  <form [formGroup]="userForm" class="form">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Имя</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Телефон</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>


    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Логин</mat-label>
      <input matInput formControlName="login">
    </mat-form-field>
  </form>


  <div ngProjectAs="buttons-end">
    <button mat-raised-button mat-dialog-close>Отменить</button>
    <button mat-raised-button color="primary" (click)="add()" cdkFocusInitial>Подтвердить</button>
  </div>

</app-dialog>

