@if (cell.type === 'pc') {
  <img alt="" src="assets/icons/pc.svg" width="90px" height="90px">
} @else if (cell.type === 'ps') {
  <img alt="" src="assets/image/ps.png" width="90px" height="90px">
}
<!-- cell.status.status _ кринж, но не могу придумать -->
@if (cell.status.user && cell.status.status === true) {
  <div class="device-status" (mouseover)="hidden(true)" (mouseleave)="hidden(false)" >{{ cell.status.users.name }}</div>

  <!-- В теории можно оптимизировать block-cell под ngFor, так карточка будет модульная, но нужно
  и продумать карточку тогда, как она отображается при профиле с юзером и без него,
  и как тогда будет отображаться отсутствие/наличие брони,
   но чтобы это сделать, должен понимать, какие данные будут приходить-->
  <div class="hover" *ngIf="hover" (mouseover)="hidden(true)"  (mouseleave)="hidden(false)">
    <div class="container-cell">

      <span class="title-cell">{{ cell.status.users.name }}</span>
      <span class="title-hall">{{ cell.name }}</span>

      <div class="block-cell">
        <span class="item-title">Тариф</span>
        <span class="item-value">{{ cell.status.users.tariff }}</span>
      </div>

      <div class="block-cell">
        <span class="item-title">Осталось времени</span>
        <span class="item-value">{{ cell.status.users.time }}</span>
      </div>

      <div class="block-cell">
        <span class="item-title">Остаток по счету</span>
        <span class="item-value">Не знаю, смотреть избранное</span>
      </div>
      <div class="block-cell">
        <span class="item-title">Уровень (скидка)</span>
        <span class="item-value">{{ cell.status.users.level }}</span>
      </div>
    </div>

    <div class="footer-cell">
      <span class="item-title">19:00-21:00 alex, 21:00-23:00 Ivan</span>
      <button class="button-cell" mat-raised-button>Посмотреть все брони</button>
    </div>

  </div>
} @else if (cell.status.description !== 'void') {
  <div class="device-status"><span>{{ cell.status.description }}</span></div>
}
