:host {
  display: flex;
  min-height: 550px;
  flex-direction: column;
  span {
    color: #171717;
    padding: 12px;
    font-weight: 700;
  }
  overflow: hidden;
}

mat-dialog-content.mat-mdc-dialog-content.mdc-dialog__content {
  padding: 0;
}

