<header>
  @if (maps | async; as mapMetas ) {
    <mat-form-field appearance="outline">
      <mat-label>Выберите карту</mat-label>
      <mat-select [(ngModel)]="selectedMapId" (selectionChange)="mapLoad($event.value)">
        @for (item of mapMetas; track item) {
          <mat-option [value]="item.id">{{item.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }

</header>

<div class="table">
  @if (devices | async; as device) {
      <app-table-map  [map]="this.selectedMap" [cells]="device"></app-table-map>
  }
</div>


