<div class="header">
  @if (maps | async; as mapMetas) {
    <mat-form-field appearance="outline">
      <mat-label>Выберите карту</mat-label>
      <mat-select [formControl]="selectedMapId">
        @for (item of mapMetas; track item) {
          <mat-option [value]="item.id">{{ item.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</div>

<div class="table">
  @if (devices | async; as device) {
    <app-table-map [cells]="device"></app-table-map>
  }
</div>

<div class='loading' *ngIf="loading | async">
  <mat-spinner></mat-spinner>
</div>
