<header>
  @if (mapMetas | async; as mapMetas ) {
    <mat-form-field appearance="outline">
      <mat-label>Выберите карту</mat-label>
      <mat-select [(ngModel)]="mapTypeValue" (selectionChange)="mapLoad($event)">
        @for (item of mapMetas.map; track item) {
          <mat-option [value]="item.uuid">{{item.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }

</header>

<div class="table">
<!--  SR: Не cells а devices-->
  @if (mapSource | async; as map) {
    <app-table-map [cells]="map"></app-table-map>
  }
</div>


