.table {
  display: table;
  border: solid 1px #f4f4f4;
  overflow-y: auto;
  tr:hover {
    background-color: #f0f0f0;
  }
  th {
    background-color: white;
  }
}

.cell {
  text-align: center;
  cursor: pointer;
}

