<span class="header">Забронировать вручную</span>

<form [formGroup]="booking" class="example-form">

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Имя</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Телефон</mat-label>
    <input matInput formControlName="phone">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Игровой пакет</mat-label>
    <mat-select formControlName="packet">
      <mat-option [value]="enums.Packet.one">{{ enums.Packet.one }}</mat-option>
      <mat-option [value]="enums.Packet.three">{{ enums.Packet.three }}</mat-option>
      <mat-option [value]="enums.Packet.night">{{ enums.Packet.night }}</mat-option>
      <mat-option [value]="enums.Packet.allDay">{{ enums.Packet.allDay }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Логин</mat-label>
    <input matInput formControlName="login">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Зона</mat-label>
    <mat-select formControlName="zone">
      @if (mapSubject | async; as mapSubject) {
        @for (map of mapSubject; track map) {
          <mat-option [value]="map.id">{{ map.name }}</mat-option>
        }
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Время</mat-label>
    <input matInput formControlName="time">
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Номер устройства</mat-label>
    <input matInput formControlName="device">
    @if (booking.controls['device'].hasError('required')) {
      <mat-error>Устройство не доступно</mat-error>
    }
  </mat-form-field>
</form>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Отменить</button>
  <button mat-raised-button color="primary" (click)="createBooking()">Подтвердить</button>
</mat-dialog-actions>
