@use '../../styles/media-query' as media;

:host {
  display: flex;
  flex: 0 1 264px;
  max-width: 264px;
  flex-direction: column;
  background: #ffffff;
  border-right: 1px solid #f4f4f4;
}

.active-menu-item {
  color: #2948E9;
  border-right: 4px solid #2948E9;
  background: rgba(0, 119, 255, 0.04);
}

.buffer {
  width: 100%;
}

@include media.mobile-only {
  .buffer {
    height: 39px;
  }
}

@include media.tablet-landscape-up {
  .buffer {
    height: 57px;
  }
}

@include media.desktop-up {
  .buffer {
    height: 78px;
  }
}

