<div class="buffer"></div>


<app-menu-item
  routerLink="/map-hall"
  routerLinkActive="active-menu-item"
  nameIcon="map"
  text="Карта зала"
>
</app-menu-item>

<app-menu-item
  routerLink="/zones-tariffs"
  routerLinkActive="active-menu-item"
  nameIcon="attach_money"
  text="Зоны и тарифы"
>
</app-menu-item>

<app-menu-item
  routerLink="/device"
  routerLinkActive="active-menu-item"
  nameIcon="desktop_windows"
  text="Устройства"
>
</app-menu-item>

<app-menu-item
  routerLink="/history"
  routerLinkActive="active-menu-item"
  nameIcon="timer"
  text="История">
</app-menu-item>

<app-menu-item
  routerLink="/users"
  routerLinkActive="active-menu-item"
  nameIcon="supervised_user_circle"
  text="Пользователи">
</app-menu-item>
