<div class="container-cell">

  <span class="title-cell">{{ cell.user?.tariff }}</span>
  <span class="title-hall">{{ cell.name }}</span>

  <app-booking-preview-block [title]="'Тариф'" [value]="cell.user?.tariff"></app-booking-preview-block>

  <app-booking-preview-block [title]="'Осталось времени'" [value]="cell.user?.time"></app-booking-preview-block>

  <app-booking-preview-block [title]="'Остаток по счету'" [value]="'Не знаю, смотреть избранное'"></app-booking-preview-block>

  <app-booking-preview-block [title]="'Уровень (скидка)'" [value]="cell.user?.level"></app-booking-preview-block>
</div>

<div class="footer-cell">
  <span class="item-title">19:00-21:00 alex, 21:00-23:00 Ivan</span>
  <button class="button-cell" mat-raised-button>Посмотреть все брони</button>
</div>
